.customcontainer {
  background: #f8f8f8;
  padding: 10px;
  color: #575757;
  text-align: center;
  font-size:15px;
}

#idpanel {
  font-size: 20px;
  font-weight: 700;
  font-family: Montserrat,sans-serif;
  padding: 10px;
}

#popupmsg {
  float: left;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #67b0d1;
  color: #fff;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.balloon {
  float:right;
  padding: 10px;
}

#pressme {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  background: rgb(254,143,69);
  padding: 5px;
  padding-left: 10px;
  padding-right:10px;
  text-decoration: none;
  border:none;
}

#counter {
  color: red;
}

.msgcontainer {
  background-color: rgb(236,66,79);
  border: solid white 5px;
  padding-left: 15px;
  min-width: 400px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

#message {
  color: #b5b5b5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9D9E9E;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
  padding: 5px;
  padding-left: 20px;
}

#message:focus {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline: 0;
}

#sendmessage {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  background: rgb(254,143,69);
  padding: 5px;
  padding-left: 10px;
  padding-right:10px;
  text-decoration: none;
  border:none;
}

#sendmessage:hover {
  background: #fa8328;
  background-image: -webkit-linear-gradient(top, #fa8328, #d93473);
  background-image: -moz-linear-gradient(top, #fa8328, #d93473);
  background-image: -ms-linear-gradient(top, #fa8328, #d93473);
  background-image: -o-linear-gradient(top, #fa8328, #d93473);
  background-image: linear-gradient(to bottom, #fa8328, #d93473);
  text-decoration: none;
}

.userlistcontainer {
  border: white solid;
  width: 100%;
  min-width: 150px;
  background: #f8f8f8;
}

.userlistcontainer thead {
  font-weight: bold;
}

.userlistcontainer thead tr td {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 18px;
  font-family: Segoe UI;
  width: 100%;
  background-color: #295f77;
}

#userlist {
  padding: 5px;
}
#userlist li {
  height: 100%;
  width: 100%;
  display: block;
}

#userlist a{
  color: #575757;
  width:100%;
  height: 100%;
  display: block;
  font-family: Lucida Console;
  padding: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
}

#userlist a:hover {
  background-color: rgb(255,201,14);
  text-decoration: none;
  cursor:pointer;
}

#notiftable {
  width: 100%;
  min-width: 500px;
  border-collapse:  collapse;
  font-weight: ;
  color: #6b6b6b;
  border: solid white;
  
}

#notiftable  tr {
    height:40px;
    border-bottom: rgba(0,0,0,.05) 1px solid;
  }
  
#notiftable  td {
    box-sizing: border-box;
    padding-left: 30px;
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif
    font-weight: 300;
  }

#notiftable thead tr td{
  height: 50px;
  color: #f6f3f7;
  background-color: #295f77;
  border: 0px solid;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0px;
  text-align: center;
}